/* Estilos generales */

body {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #4b3525;
    font-family: Arial, sans-serif;
    margin: 0;

}


/* Encabezado */

header {
    background-image: url("fondo-header.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    color: white;
}

header h1 {
    font-size: 35px;
}

header h2 {
    font-size: 22px;
}


/* Menú */

nav {
    background-color: #8b6245;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}


/* Contenido */

main {
    width: 90%;
    max-width: 1000px;
    margin: 25px auto;
    padding: 25px;
    background-color: #fffaf3;
    border: 2px solid #c9a889;
    border-radius: 10px;
}


/* Títulos */
h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    color: #704b32;
    margin-top: 30px;
    font-size: 28px;
}

h3 {
    color: #8b6245;
    font-size: 22px;
}



/* Párrafos */

p {
    font-size: 17px;
    line-height: 1.6;
}


/* Todas las imágenes quedan iguales */

main img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border: 3px solid #b58b6a;
    border-radius: 8px;
}


/* Listas */

ul, ol {
    background-color: #f1dfcc;
    padding: 20px 40px;
    border-radius: 8px;
}


/* Tabla */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #8b6245;
    color: white;
    padding: 10px;
}

td {
    background-color: #f8eee2;
    padding: 10px;
    border: 1px solid #b58b6a;
}


/* Botones */

.boton {
    background-color: #8b6245;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px 5px;
}


/* ID */

#inicio {
    text-align: center;
    color: #704b32;
}


/* Tarjetas */

.card {
    background-color: #f1dfcc;
    border: 2px solid #c9a889;
    padding: 15px;
}


/* Videos */

iframe {
    max-width: 100%;
    border: 3px solid #b58b6a;
}


/* Pie de página */

footer {
    background-color: #5c4030;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}
.carousel img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: #f3e6d5;
}
